<<<<<<< HEAD
*
{
    padding:0px;
    margin:0px;
}



#jeu
{
    width:900px;
    height:510px;
    margin:auto;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    
=======
#steve
{
	background-image:url("../img/stevePas1.png");
	background-size: cover; 
	position: absolute;
	margin-left:75px;
	width:100px;
	top:250px;
	height: 100px;
	
}

.obstacle
{
	top:300px;
	height: 50px;
	width: 50px;
	position: absolute;
	background-image: url('../img/tnt.jpg');
	background-size: cover;
	

}
.bonus
{

}
.nada
{
	display: none;
	position: absolute;
}

.creaper
{
	top:300px;
	height: 50px;
	width: 50px;
	position: absolute;
	background-color: violet;
}
.coin
{
	top:200px;
	height: 50px;
	width: 50px;
	position: absolute;
	background-image: url('../img/coffre.jpg');
	background-size: cover;

>>>>>>> 2bbdeda8bbe5379820fa938c295f5ec23f28bb87
}