#steve
{
	background-image:url("../img/stevePas1.png");
	background-size: 100px; 
	position: absolute;
	width:100px;
	top:600px;
	height: 100px;
	
}

.obstacle
{
	top:650px;
	height: 50px;
	width: 56px;
	margin-right: 20px;
	position: absolute;
	background-color: black;
	

}